/* ============================================= */
/* Color variables */
/* ============================================= */
$primary-color: #777;
$secundary-color: #58e1c1;
$third-color: #51ddfc;
$fourth-color: #32aa8e;
$fifth-color: #fff;

/* ============================================= */
/* media querry's breakpoints */
/* ============================================= */

$brk-narrow: 768px;

